.add_course {
    width: 80%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px);
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 8px;
    }
}